/* @group ----- Grid ----- */

#wrap {
    max-inline-size: (($total-columns * $column-width) + (($total-columns - 1) * $gutter-width));
    padding-block: 0;
    padding-inline: gutter();
    margin: 0;
}


#content {
    @include span(12 of 16);
    margin-inline-end: 0;
    padding-block: 40px;
    padding-inline: 0;
}

#primary-nav {
    @include span(4 of 16);
    margin-inline-start: 0;
}

#primary {
    @include prefix(0);
}

#home #primary {
    @include span(6 of 12);
    margin-inline-start: 0;
    padding-block: 0;
    padding-inline: gutter() 0;
}

#home #secondary {
    @include span(6 of 12);
    margin-inline-end: 0;
    padding-block: 0;
    padding-inline: gutter();
}

/* @end */

/* @group ----- Header ----- */

header {
    background-size: cover !important;
    -ms-behavior: url('../javascripts/backgroundsize.min.htc');
    border-block-width: 0 20px;
    border-inline-width: 0;
    border-style: solid;
}

.button.menu-button { display: none; }

#primary-nav {
    margin-block-start: 1.75 * $spacing-unit;

    ul.navigation {
        display: block;
        margin: 0;
    }

    .active ul {
        display: block;
    }

    ul {
        margin-block-start: 0;
        margin-block-end: 2 * $spacing-unit;
    }

    li {
        background-color: #fff;

        ul li { background-color: #fff; }

        ul li ul li { background-color: #fff; }
    }

    a:hover {
        font-weight: bold;
    }
}

#search-container {
    margin-block: $spacing-unit;
    margin-inline: 0;
}

#search-form {
    margin-block-end: $spacing-unit;
}

#query {
    margin-block-end: $spacing-unit;
}

.secondary-nav, #secondary-nav {
    border-block-end: 1px solid #ccc;
    font-size:1.125em;

    a {
        padding-block: 0.5em 0.5em;
        padding-inline: 1em;
        color: #666;
        border-block-end: 0;
    }

    ul { margin: 0 0 -1px 0; }

    li {
        display: inline-block;
        padding: 0;
        border: 1px solid #ccc;
    }

    .active {
        border-block-end-color: #fff;
    }

    .current a {
        background:#fff;
        color:#333;
        font-weight:bold;
        border: {
            color: #ccc;
            inline-size: 1px;
            style: solid;
            block-end: { color: #fff; };
        }
    }
}

/* == Browse Items == */

.pagination {
    inline-size: 47%;
    overflow: hidden;
    float: inline-start;
    padding-block-end: $spacing-unit;
}

nav.pagination {
	overflow: visible;
}

#content > nav.pagination:nth-of-type(2) {
	inline-size: 47%;
}

.pagination_list {
    margin-block-start: .75 * $spacing-unit;
    float: inline-start;
}

.pagination_list a, li.pagination_current {
    border: 1px solid #ccc;
    display: inline-block;
    padding-block: (.25 * $spacing-unit);
    padding-inline: 10px;
    vertical-align: top;
    margin-inline-end: 10px;
}

#sort-links  {
    clear: none;
    float: inline-end;
    ul {
        margin-block-start: .75 * $spacing-unit;
        padding-block-start: .5 * $spacing-unit;
    }
    span, li {
        padding-block: (.25 * $spacing-unit);
        padding-inline: 20px 0;
        margin-inline-end: 0;
    }
}

/* @end */

/* @group ----- Forms ----- */

div#contribution-type-form div.inputs {
    clear: none;
    float: inline-end;
    inline-size: 69%;
}

.field {
    border-block-end: 1px solid #ccc;
    inline-size:100%;
    overflow: auto;
    padding-block: (1 * $spacing-unit);
    padding-inline: 0;

    .inputs,
    .columns.omega {
        clear: none;
        float: inline-end;
        inline-size: 69%;
    }

    input, input[type=text], select {
        inline-size: 100%;
        float: inline-end;
    }

    label,
    .label,
    .columns.alpha {
        inline-size: 29%;
        float: inline-start;
        margin: 0;
    }

    .columns.alpha label,
    .columns.alpha .label {
        inline-size: 100%;
    }

    div.field:last-of-type { display: inline-block; margin-block-end: 1em; }

    div :only-child { margin-block-end: 0; }
}

/* @end */

/* @group ----- Advanced Search Form ----- */

#advanced-search-form {
    margin-block-end: 40px;

    .submit { float: inline-end; }
}

#advanced-search-form .search-entry input[type=text],
#advanced-search-form .search-entry select {
    inline-size: calc((100% - #{(1.75 * $spacing-unit)}) / 4);
    display: inline-block;
    margin-block: 0;
    margin-inline: 0 3px;
    float: none;
}

#advanced-search-form .search-entry:first-child input[type="text"],
#advanced-search-form .search-entry:first-child select {
    inline-size: calc((100% - #{(1.75 * $spacing-unit)}) / 3);
}

#advanced-search-form .field .remove_search {
    text-indent: -9999px;
    margin-block-start: 0;
    inline-size: (1.25 * $spacing-unit);
    float: inline-end;
    clear: none;

    &:after {
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        text-indent: 0;
        text-align: center;
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        line-height: 1.25 * $base-line-height;
    }
}

/* @end */

/* @group ----- Exhibit Builder ----- */

#content nav + .exhibit {
    clear: both;
}

#exhibit-blocks,
.exhibits.summary #primary,
#exhibit-page-navigation {
    @include span(9 of 12);
    margin-inline-start: 0;
    float: inline-start;
}

#exhibit-page-navigation {
    clear: none;
}

#exhibit-pages {
    @include span(3 of 12);
    margin-inline-end: 0;
    display: inline-block;
    float: none;
}

/* @end */
